[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
uwsgi = "*"

[packages]
telethon = "*"
ujson = "*"
pyjwt = "*"
requests-oauthlib = "*"
cachetools = "*"

[requires]
python_version = "3.6"
