[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
uwsgi = "*"

[packages]
aiodns = "*"
aiohttp = "*"
aiorpc = {git = "https://github.com/dmig/aiorpc.git"}
cchardet = "*"
cryptg = "*"
isort = "*"
pyjwt = "*"
requests = "*"
telethon = {git = "https://github.com/LonamiWebs/Telethon.git"}
ujson = "*"
uvloop = "*"
pycnic = {git = "https://github.com/dmig/pycnic.git"}

[requires]
python_version = "3.7"
