[globals]
debug=false
debug_requests=false
debug_telethon=false

[oauth]
state_timeout=180

[jwt]
secret=PUT_SOME_RANDOM_STRING_HERE
# token lifetime in minutes
timeout=1440

[vk]
client_id=YOUR-CLIENT-ID
client_secret=YOU-CLIENT-SECRET

[telegram]
api_id=YOUR-CLIENT-ID
api_hash=YOU-CLIENT-SECRET
# relative uri to saved avatars
avatars_path=statics/avatars

[paths]
db_auth=/var/run/xpostr/auth.sqlite
db_main=/var/run/xpostr/main.sqlite
avatars=/var/run/xpostr/avatars
sessions=/var/run/xpostr/sessions
temp=/tmp/xpostr
daemon_socket=/var/run/xpostr/xpostr.socket
