[uwsgi]
module = api:app
chdir = APPLICATION_PATH/backend
virtualenv = VENV_PATH
# set this parameter if running from virtualenv
# socket = /var/run/uwsgi/xpostr-web.socket

# maximum number of workers that can be spawned
workers = 64

# minimum number of workers to keep at all times
cheaper = 2
# number of workers to spawn at startup
cheaper-initial = 2
