[uwsgi]
module = api:app
chdir = APPLICATION_PATH/backend
virtualenv = VENV_PATH

# maximum number of workers that can be spawned
workers = 64

# minimum number of workers to keep at all times
cheaper = 2
# number of workers to spawn at startup
cheaper-initial = 2
