# use this unit ONLY if you plan to run your own
# (not system-wide installed) uwsgi instance

[Unit]
Description=XPostr web services
After=network.target

[Service]
# change User/Group to user you wish to run from (www-data f.e.)
User=YOUR_USER
Group=YOUR_USER
# replace APPLICATION_PATH with full path to backend code
WorkingDirectory=APPLICATION_PATH/xpostr/backend
# replace VENV_PATH with full path to your virtualenv (`pipenv --venv` may show this)
Environment="PATH=VENV_PATH/bin"
ExecStart=uwsgi etc/uwsgi/applications-available/xpostr-web.ini
Restart=on-failure
StandardOutput=append:/var/log/xpostr-web.log
StandardError=append:/var/log/xpostr-web.log
