[Unit]
Description=XPostr daemon
After=network.target

[Service]
# change User/Group to user you wish to run from (www-data f.e.)
User=YOUR_USER
Group=YOUR_USER
# replace APPLICATION_PATH with full path to backend code
WorkingDirectory=APPLICATION_PATH/xpostr/backend
# replace VENV_PATH with full path to your virtualenv (use `pipenv --venv` to get it)
Environment="PATH=VENV_PATH/bin"
ExecStart=daemon.py
KillSignal=SIGINT
Restart=on-failure
StandardOutput=file:/var/log/xpostr-daemon.log
StandardError=file:/var/log/xpostr-daemon.log

[Install]
WantedBy=multi-user.target
