[Unit]
Description=XPostr daemon
After=network.target

[Service]
# change User/Group to user you wish to run from (www-data f.e.)
User=YOUR-USER
Group=YOUR-USER
# replace /PROJECT_PATH with full path to project code
WorkingDirectory=/PROJECT_PATH/xpostr/backend
# replace /PROJECT_PATH with full path to your virtualenv (`pipenv --venv` may show this)
Environment="PATH=/PROJECT_PATH/bin"
ExecStart=daemon.py
Restart=on-failure
StandardOutput=append:/var/log/xpostr-daemon.log
StandardError=append:/var/log/xpostr-daemon.log
